* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

:root {
    --blue: rgb(85, 122, 221);
    --lightred: rgb(255, 89, 89);

}

/*reset*/
button {
    background-color: none;
    border: none;
}
}

@font-face {
    font-family: 'Quicksand';
    src: url("./assets/Quicksand-Regular.otf");
}

/*FONTS */

header h2 {
    font-size: 1.6em;
}

.quote p {
    font-size: 1.1em;
    font-family: 'Indie Flower', cursive;
}

.navButtons div button {
    font-size: 1.2em;
}

.task div p {
    font-size: 1em;
}

.task div :nth-child(1) {
    font-size: 1.3em;
    font-weight: bold;
}

.uiButtons button {
    font-size: 1.2em;
}

/*grid positions*/

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, minmax(1vh, auto));
    grid-gap: 5px;
}

header {
    grid-column: 1/7;
}

.quote {
    grid-column: 1/7;
}

.navButtons {
    grid-column: 1/7;
}

.tasks {
    grid-column: 1/7;
}

.uiButtons {
    grid-column: 1/7;
}

/*misc styles*/
body {
    overflow-y: hidden;
}

header {
    padding: 2vh;
}

header :nth-child(2) {
    text-transform: uppercase;
    margin-top: 3vh;
    text-align: end;
    font-size: 1.2em;
}

header span {
    color: rgb(151, 149, 144);
    font-weight: normal;
}

.quote {
    margin-bottom: 1vh;
    height: 12vh;
    text-align: center;
}

.quote :nth-child(2) {
    font-family: Quicksand;
    font-style: italic;
}

.navButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    padding: 0 .3em;
}

.navButtons button {
    height: 6vh;
    padding: .1em .5em;
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.task div {
    width: 80vw;
    border: 1px solid rgb(202, 196, 196);
    border-radius: 20px;
    padding: .2em .5em;
    margin: .5em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.task div :nth-child(2) {
    justify-self: end;
    align-self: center;
}

.task div :nth-child(3) {
    padding-left: 1em;
}

.task button {
    align-self: center;
    height: 7vh;
    width: 7vh;
    border-radius: 20px;
    color: white;
    background-color: var(--lightred);
}

.tasks {
    height: 40vh;
}

.uiButtons {
    height: 15vh;
}

.uiButtons button {
    display: block;
    margin: 0 auto;
}

.uiButtons :nth-child(1) {
    margin-bottom: 9vh;
}